# Ignore all
*

#Add the following files
!.gitignore
!.bashrc
!.ncpamixer.conf
!eduroam.sh
!schindler_list.txt

#Add the following folers
!/.config/
!/.config/**
!/.moc/
!/.moc/**
!/.sddm/
!/.sddm/**
!/HyprScripts/
!/HyprScripts/**
!/Wallpapers/
!/Wallpapers/**

#Still ignore these tho
/.config/libreoffice/
/.config/libreoffice/**
/.config/btop/btop.log
/.config/GIMP/
/.config/GIMP/**
/.config/etr/
/.config/etr/**
