# Ignore all
*

#Add the following files
!.gitignore
!.bashrc
!.ncpamixer.conf
!btrestart
!eduroam.sh
!schindler_list.txt
!starship.toml

#Add the following folers
!/.config/
!/.config/**
!/.moc/
!/.moc/**
!/.sddm/
!/.sddm/**
!/HyprScripts/
!/HyprScripts/**
!/Wallpapers/
!/Wallpapers/**

#Still ignore these tho
/.config/blender/
/.config/btop/btop.log
/.config/ctpv/
/.config/dconf/
/.config/GIMP/
/.config/glib-2.0/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/libfm/
/.config/libreoffice/
/.config/menus/
/.config/pulse/
/.config/yay/
/.config/VirtualBox/
/.config/qBittorrent/
