* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'OpenDyslexic Nerd Font';
   /* font-size: 12px;*/
    transition-duration: 0;
    border-radius: 32px;
    margin: 0 0px;
}


window#waybar {
    background-color: transparent;
    color: #89befb;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #89befb;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: transparent;
    text-shadow: none;
    font-size: 22px;

}

/* you can set a style on hover for any module like this */
#network:hover,
#pulseaudio:hover,
#battery:hover,
#clock:hover,
#backlight:hover,
#bluetooth:hover, 
#custom-exit:hover,
#custom-appmenu:hover {
    box-shadow: inset 4 4 8 0 #ffd700;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button:hover {
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    color: #efc500;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-appmenu,#hardware,#taskbar,#window,#workspaces,#pulseaudio,#backlight,#battery,#bluetooth,#network,#clock,#custom-exit {
    margin: 0 2px;
    background: rgba(50, 0, 51, 0.75);
}

#hardware,
#window,
#workspaces {
    padding: 0 8px;
}

#custom-appmenu {
    border: 2px solid #fd00ff;
    color: #cacc00;
}
#hardware {
    border: 2px solid #fdff00;
    color: #7acc8c;
}
#taskbar {
    border: 2px solid #00ff38;
    color: #00f9ff;
}
#window { 
    border: 2px solid #00f9ff;
    color: #9d7fff;
}
#workspaces {
    border: 2px solid #3c00ff;
    color: #fd00ff;
}
#pulseaudio { 
    border: 2px solid #fd00ff;
    color: #cacc00;
}
#backlight { 
    border: 2px solid #fdff00;
    color: #7acc8c;
}
#battery { 
    border: 2px solid #00ff38;
    color: #00f9ff;
}
#bluetooth {
    border: 2px solid #00f9ff;
    color: #3c00ff;
}
#network { 
    border: 2px solid #3c00ff;
    color: #fd00ff;
}

#clock {
    border: 2px solid #fd00ff;
    color: #cacc00;
}
#custom-exit { 
    border: 2px solid #fdff00;
    color: #ff0000;
}

#taskbar.empty,
window#waybar.empty #window { 
    border : none;
    background-color: transparent;
    min-width: 0px;
    padding: 0 0px;
    margin: 0 0px;
}



#clock,
#disk,
#memory,
#cpu,
#battery,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    font-size: 18px;
}

#cpu,#memory,#disk,#temperature {
    font-size: 15px;
    min-width: 64px; 
}

#window {
    min-width: 24px;
}

#clock {
    min-width: 64px;
}

#bluetooth {
    font-size: 22px;
    color: #0082FC;
    min-width: 48px;
}

#network {
    min-width: 48px;
}

#window {
    font-size: 16px;
}

#custom-appmenu {
    font-size: 24px;
    min-width: 56px;
    border-radius: 16px;

}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery {
    min-width: 72px;
}

#backlight {
    min-width: 72px;
}

#battery.charging, #battery.plugged {
    color: #00ff00;
}

#power-profiles-daemon {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #f53c3c;
}

#custom-exit {
    font-size: 20px;
    min-width: 48px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    min-width: 74px;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#temperature.critical {
	color: #ff0000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
/* extra round corners ;) */
#custom-appmenu, #hardware, #taskbar, #window, #workspaces, #infhdmi, #levels, #connection, #clock, #custom-exit {
    border-radius: 32px;
}

