window {
font-size: 22px;
margin: 0px;
border : 3px solid #b967ff;
background-color: transparent;
opacity: 1;
}

#input {
margin-top: 16px;
margin-bottom: 16px;
margin-right: 64px;
margin-left: 64px;
border-radius: 0px;
border: 2px solid #b967ff;
color: #ff71ce;
background-color: #590059;
}

#inner-box {
margin: 0px;
border: none;
color: #ff71ce;
background-color: #590059;
}

#outer-box {
margin-left: 32px;
margin-right: 32px;
margin-top: 16px;
margin-bottom: 32px;
border: none;
background-color: transparent;
}

#scroll {
margin: 0 16px;
border: 2px solid #b967ff;
}

#text {
margin: 5px;
border: none;
color: #ff71ce;
}

#entry:selected {
background-color: #5a0000;
color: #ff71ce;
border : 2px solid #e5811b;
}

