window {
font-size: 22px;
margin: 0px;
border-radius: 0px;
border : 3px solid #c16d67;
background-color: #3a2306;
opacity: 0.9;
}

#input {
margin: 5px;
border: none;
color: #ebdbb2;
background-color: #241508;
}

#inner-box {
margin: 5px;
border: none;
background-color: #241508;
border-radius: 6px;
}

#outer-box {
margin: 5px;
border: none;
background-color: #3a2306;
border-radius: 6px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #ebdbb2;
}

#entry:selected {
background-color: #552700;
border : 2px dotted #aee4ff;
border-radius: 6px;
}
